/* Color Palette */
$main-red: #e80d1e;
$main-brown: #dc978a;
$main-pale: #ffe5db;
$main-blue: #57babb;

$agree: #03Ac13;
$disagree: #D21404;



html {
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
    font-family: Source Sans Pro, sans-serif;
    box-sizing: border-box;
}

.SplashScreen-main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    max-width: 50rem;
    min-width: 20rem;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 5%;
    font-size: 25px;
    font-weight: 700;    

    & button, input {
        font-size: 25px;
        font-weight: 700;
        background-color: $main-red;
        border: none;
        color: white;
        margin: 1em;
        border-radius: 10px;
        text-align: center;
        padding: 5px;
        width: 100%;
    }

    & .SplashScreen-join-room {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

.ChatBoard-main-div {
    display: flex;
    flex-direction: column;

    & .ChatBoard-header-content {
        align-self: center;
        display: flex;
        width: 95%;
        justify-content: space-between;
        align-items: center;
    }

    & button {
    background-color: $main-red;
    border: none;
    color: white;
    margin: 1em;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    font-weight: 700;
    }

    & .ChatBoard-download {
        background-color: $main-red;
        width: 5rem;
        align-self: center;
    }

    & .ChatBoard-info {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .ChatBoard-temp {
        display: flex;
        align-self: center;
    }

    & .ChatBoard-write-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        align-self: center;
        margin: 2rem;

        & textarea {
            font-family: "Source Sans Pro";
            border: 1px solid black;
            border-radius: 5px;
            background-color: $main-pale;
            resize: none;
            padding: 10px;
        }
    }

    & .ChatBoard-feedback-list {
        align-self: center;
        background-color: $main-blue;
        padding: 1rem;
        border-radius: 10px;
        width: 95%;
        text-align: center;
        height: 54vh;
        overflow-y: scroll;
        overflow-x: hidden;
        word-wrap: break-word;
        color: black;
    }

    & .ChatBoard-feedback-grid{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-auto-rows: minmax(min-content, max-content);
    }
}

.FeedbackMessage-main-div{
    display: grid;
    grid-template-columns: 10% 90%;
    font-weight: 500;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 10px;
    border: 2px solid black;
    min-height: 11rem;
}

.FeedbackMessage-personal-vote{
    min-height: 11rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 1/2;
    border-radius: 10px;
    z-index: 8;
    border-radius: 0px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    background-color: $main-pale;


    
}

.FeedbackMessage-info {
    min-height: 11rem;
    grid-row: 1;
    z-index: 1;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    grid-column: 2/3;
    background-color: $main-pale;
    color: black;
    display: flex;
    flex-direction: column;

    & p {
        margin: 10px
    }

    & button {
        margin: 5px;
        width: 20%;
    }

    & .FeedbackMessage-votes {
        display: flex;
        align-self: center;
    }
}

button.FeedbackMessage-upvote-button{
    width: 2rem;
    height: 2rem;
    background-color: $agree;
}

button.FeedbackMessage-downvote-button{
    width: 2rem;
    height: 2rem;
    background-color: $disagree;
}



.strong-agree {
    background-color: $agree
}

.agree {
    background-color: $agree
}

.partial-agree {
    background-color: $agree
}

.partial-disagree {
    color: white;
    background-color: $disagree
}

.disagree {
    color: white;
    background-color: $disagree
}

.strong-disagree {
    color: white;
    background-color: $disagree
}

